.introduction {
    font-family: "Montserrat", sans-serif;
}

    .introduction .nav-animation {
        background-color: #696b69;
        border: none;
        position: fixed;
        width: 100%;
        min-height: 7vh;
    }

    .introduction nav {
        width: 100%;
        z-index: 10;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-height: 6vh;
        border-bottom: 1.5px solid white;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: url('../img/wood2.jpg') ;
        width: 100%;
        opacity: 0.95;
        position: fixed;
        font-size: 26px;
        padding: 16px;
    }
.introduction nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: distribute;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    flex-basis: 100%;


}

.introduction nav .nav-links a {
    color: white;
    text-decoration: none;
}

.introduction nav .nav-links :hover {
    opacity: 0.8;
    transition:0.3s;
}

.countryFlag {
    width: 30px;
    height: 18px;
}

a:visited, a:active, a:link {
    color: white;
}

.translate-button {
    height: 22px;
}